.filters {
    max-width: 20%;
    min-width: 300px;
    background-color: $color-light;
    @include dflex(flex-start, flex-start, column);
    border: 2px solid $color-accent-light;
    color: $color-accent-dark;
    border-radius: $border-rad-xl;
    position: sticky;
    top: 20px;
    right: 0;
    
    &__item {
        padding: $padding-m $padding-xl;
        width: 100%;
        @include dflex(space-between)
    }

    &__item--hidden + .filters__list {
        display: none;
    }

    &__item--hidden > i {
        transform: rotate(90deg);
        transition: 0.5s;
    }

    &__list {
        transition: 0.5s;
        &> li {
            list-style-type: none;
        }
    }
}